body {
    background-color: #ccc;
    color: #01031C;
    height : 100vh;
    background-image: url('../images/world-140304_1920.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer {
    padding: 20px;
    font-size: 1.5em;  
    text-align: center;
    background-color: rgba(207, 225, 245, 0.459);
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
}
h1 {
  color:#01031C;
  font-size: 3rem;
  font-weight: bold;
  margin: 0.7rem;
}
main {
    height: auto;
    align-self: center;
    width: 40%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.616);
    padding: 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
    animation: slideLtR 1s 0s 1 ease;
    
    text-align: center;
}

.link-menu {
  display: inline-block;
  color: rgb(198, 208, 252);
  text-decoration: none;
}

.link-menu::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(198, 208, 252);
  transition: width .5s;
}

.link-menu:hover::after {
  width: 100%;
  transition: width .5s;
}

.rules, .main-text {
    font-size: 1.5em;
    margin: 0.7rem;
    line-height: 2rem;
}

.link-game:link {
    text-decoration: none;
    background-color: #ccc;
    padding: 5px 20px 5px 20px;
    border: 5px;
    border-radius: 5px;
}

.link-game{
    transition: 0.4s;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    margin-top: 20px;
}

.link-game:hover {
    background-color: #ffffff;
    color: #03e629;
    padding: 5px 30px 5px 30px;
    transition: padding 0.35s, color 0.35s;
  }

.game-board {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.country-title {
  color : rgb(255, 255, 255);    
    font-size: 1.8em;
    font-weight: bold;
    line-height: 2rem;
}

.country-name {
  color : rgb(255, 255, 255);    
    font-size: 2.1em;
    line-height: 2rem;
}

#answer {
  height: 50px;
  font-size: 1.5em;
  text-align: center;
}

.score{
  color : rgb(255, 255, 255);    
    font-size: 1.8em;
    font-weight: bold;
    line-height: 50px;

}

.result {
  color: #ffffff;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  align-items: flex-start;

}
  

.true{
  color: black;
  font-weight: bold;
  line-height: 1.5em;
  background-color: rgba(0, 128, 0, 0.199);
  border-bottom: 1px solid black;
}
.false{
  color: black;
  font-weight: bold;
  line-height: 1.5em;
  background-color: rgba(255, 0, 0, 0.205);
  border-bottom: 1px solid black;
}

.center-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress {
	height:100%;
	text-align:right;
	font:bold 12px arial;
	border-right:1px silver solid;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	line-height:30px;
	color:#444;
  animation: 15s linear 1s 1   slidein;
	
}

#progressContainer {
	width:90%;
	margin:0 auto;
  margin-top: 20px;
	height:10px;
	border:1px silver solid;
	border-radius:4px;
	background:white;
}


@keyframes slideLtR {
    0% {
      transform: translateX(-500%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@keyframes slideRtL {
    100% {
      transform: translateX(0);
      opacity: 1;
    }
    0% {
      transform: translateX(500%);
      opacity: 0;
    }
  }

  @keyframes slidein {
    100% { transform: scaleX(0); background:red;}
    50%  { background:orange;}
    0%   { transform: scaleX(1); background:green;}
  }
