</main>

<footer class="footer">
   <p>© Robins 2021</p>
   <a href="mailto:lesrobins@desbois" class="link-mail"title="Plus qu'un petit clic pour nous contacter !">Un feedback, envoyez-nous un mail !</a>
</footer>
<script type="text/javascript" src="/lightmode.js"></script>
<script src="/config.js"></script>
</body>
</html>