<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
    <title>Jeu des capitales par la promo Robin</title>
</head>
<body>
    <header class="header">

        <h1>Jeu des capitales</h1>

        <nav>
            <li>
                <a href="/">Accueil</a> 
            </li>
            <li>
                <a href="/game/addName">Ajoutez votre nom</a>
            </li>
        </nav>
    </header>

    <main>