<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" type="image/gif" href="/images/logo.PNG" />
    <title>Jeu des capitales par la promo Robin</title>
    <!-- <link rel="stylesheet" href="/css/lightmode.css"> -->
</head>
<body class="darkmode">
    <header class="header">
        <div class="nav-logo">
            <img src="/images/logo.PNG" class="logo">
            <h1>Jeu des capitales</h1>
        </div>

            <ul class="nav-link">
                <li>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round spanSize" onclick="myLightMode()"></span>
                      </label>
                </li>
                <li>
                    <a href="/" class="link-menu">Accueil</a>
                </li>
                <li>
                    <a href="/leaderboard" class="link-menu">Leaderboard</a>
                </li>
                <li>
                    <a href="/login" class="link-menu">Login</a>
                </li>
            </ul>
    </header>

    <main>