<%- include('partials/header') %>

<form action="/game/addName" method="get">
    <label for="name"></label>
    <input type="text" name="name" id="name" autofocus >
  </form>

  <% if(name) {%> 
    <p>votre <%= name %> est ajouté</p>
  <% } %> 

<%- include('partials/footer') %>