<%- include('partials/header') %>

<form action="/game/addName" method="get" class="leaderboard-form">
    <label for="name" class="leaderboard-name"> Votre nom </label>
    <input type="text" name="name" id="name" autofocus required
    minlength="3" maxlength="10" >
    
    <button>Valider</button>

  </form>
  <li>
    <!-- <a href="/leaderboard" class="link-menu">Voir votre leaderboard</a> -->
  </li>

<%- include('partials/footer') %>