<%- include('partials/header') %>

<form action="/game/addNameForm" method="get">
    <label for="name">  
      <% if(name) {%> 
      <p>Votre nom <%= name %> est ajouté</p>
    <% } %> </label>
    <br> 
    <input type="text" name="name" id="name" autofocus >
  </form>
  <li>
    <a href="/leaderboard" class="link-menu">Voir votre leaderboard</a>
  </li>

<%- include('partials/footer') %>