<%- include('partials/header') %>

<div>
    <p class="rules">
        En construction
    </p>
    <p class="main-text">
        En construction
    </p>
    <a href="#" class="link-game">En construction</a>
</div>

<%- include('partials/footer') %>