<%- include('partials/header') %>

 <form action="/search/level" method="get">
    <label for="answer">Nom du pays</label>
    <input type="text" name="answer" id="answer">
  
    <button type="submit">Envoie de la reponse</button>    
  </form>

<%- include('partials/footer') %>