<%- include('partials/header') %>


<div class="game-board">
  <p class="country-title"> Pays : </p>
  <p class="country-name"><%=gameArr[count].name%></p>
  
  
  <form id="myForm" action="/game/test" method="get">
    <label for="answer"></label>
    <input type="text" name="answer" id="answer" autofocus >
  </form>
  
  <div id="progressContainer">
    <div id="progress"></div>
  </div>
  
</div>
<script src="/config.js"></script>

<%- include('partials/footer') %>