<%- include('partials/header') %>


  <div class="game-board">
    <p class="country-title"> Pays : </p>
    <p class="country-name"><%=country.name%></p>
    
    <form action="/search" method="get">
      <label for="answer"></label>
      <input type="text" name="answer" id="answer" autofocus >
      
      <!-- <button type="submit">Envoie de la reponse</button>     -->
    </form>
  </div>

<%- include('partials/footer') %>