<%- include('partials/header') %>

<div>
    <p class="rules">
        Règles du jeu : 
    </p>
    <p class="main-text">
        Pour chaque nom de pays proposé, il faut écrire le nom de la capitale qui correspond et appuyer sur la touche entrée pour valider.
    </p>
    <a href="/game" class="link-game">Jouer</a>
</div>

<%- include('partials/footer') %>