<%- include('partials/header') %>

<div>
    <p class="rules">
        Regles du jeu : 
    </p>
    <p class="main-text">
        Le jeu est très simple il suffit de trouver la bonne capitale au pays que l'on vous proposera.
    </p>
    <a href="/game" class="link-game">Jouer</a>
</div>

<%- include('partials/footer') %>