<%- include('partials/header') %>

<div class="center-card with-transi">
    <p class="rules">
        Règles du jeu : 
    </p>
    <p class="main-text">
        Pour chaque nom de pays proposé, il faut écrire le nom de la capitale qui correspond et appuyer sur la touche entrée pour valider.
        Il y a en tout 10 propositions et 15 secondes pour répondre.         Petite astuce: ne pas se soucier des accents.
    </p>
    <div>
        <%- include('partials/buttonPlay') %>
    </div>
</div>

<%- include('partials/footer') %>