<%- include('partials/header') %>

<table class="result">
<thead>
  <tr>
    <th class="score" colspan="3">Leaderboard</th>
  </tr>
</thead>
<tbody>
  <% names.forEach(elem => { %>
  <tr>
    <td><%=elem.name%></td>
    <td><%=elem.score%></td>
  </tr>
    <% }) %> 
  </tbody>
    </table>

<%- include('partials/footer') %>