<%- include('partials/header') %>

<table class="leaderboard">
<thead>
  <tr>
    <th class="score" colspan="3">Leaderboard</th>
  </tr>
</thead>
<tbody>
  <% namesScore.forEach(elem => { %>
  <tr>
    <td><%=elem.name%></td>
    <% if(elem.score===null) {%>
    <td>0</td>
  <%} else {%>
    <td><%=elem.score%></td>
    <% } %> 
  </tr>
    <% }) %> 
  </tbody>
    </table>

<%- include('partials/footer') %>